image: registry.git.bitmycode.com:443/bmc/buildingtoolscontainer/master:c837e167a18ba02696ea2e641b78cc92fb89080d

.build-targets-common: &build-targets-common
  stage: build-targets
  variables:
    MAKE_TGT: ''
  script:
    - eval make defconfig
    - eval make $MAKE_TGT

stages:
    - build-targets

.build-linux-targets-common: &build-linux-targets-common
  <<: *build-targets-common
  artifacts:
    paths:
      - bin/libsteam_api.so
      - launch*.sh

build-linux-i686:
  <<: *build-linux-targets-common
  variables:
    MAKE_TGT: 'all OS=linux CC=x86_64-linux-gnu-gcc CFLAGS=-m32 LDFLAGS=-m32'

build-linux-x86_64:
  <<: *build-linux-targets-common
  variables:
    MAKE_TGT: 'all OS=linux CC=x86_64-linux-gnu-gcc'
