image: registry.git.bitmycode.com:443/docker/buildingtools:latest

stages:
  - build
  - build-targets

build:
  stage: build
  script:
    - eval make defconfig
    - eval make

.build-targets-common: &build-targets-common
  stage: build-targets
  except:
    - pushes
  variables:
    MAKE_TGT: ''
  script:
    - eval make defconfig
    - eval make $MAKE_TGT

.build-linux-targets-common: &build-linux-targets-common
  <<: *build-targets-common
  artifacts:
    paths:
      - bin/libsteam_api.so
      - launch*.sh

build-linux-i686:
  <<: *build-linux-targets-common
  variables:
    MAKE_TGT: 'all OS=linux CC=x86_64-linux-gnu-gcc CFLAGS=-m32 LDFLAGS=-m32'

build-linux-x86_64:
  <<: *build-linux-targets-common
  variables:
    MAKE_TGT: 'all OS=linux CC=x86_64-linux-gnu-gcc'

.build-windows-targets-common: &build-windows-targets-common
  <<: *build-targets-common
  artifacts:
    paths:
      - bin/libsteam_api.dll

build-windows-i686:
  <<: *build-windows-targets-common
  variables:
    MAKE_TGT: 'all OS=windows CC=i686-w64-mingw32-gcc'

build-windows-x86_64:
  <<: *build-windows-targets-common
  variables:
    MAKE_TGT: 'all OS=windows CC=x86_64-w64-mingw32-gcc'
